{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    
</head>

<!-- CSRF token added to htmx headers for htmx requests -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class='navbar' style="display:flex;background-color:lightgray;border-bottom:solid 2px black">    
    <div class="nav-left" style="padding:4px;display:flex;gap:40px;justify-content:start;">    
        <div class="home-button" style="padding:5px;border:black solid 1px;border-radius:8px">
            <a href='/'>Home</a>
        </div>
        <div class="artist-button" style="padding:5px;border:black solid 1px;border-radius:8px">
            <a href="{% url 'recommender:get_artist' %}">Artist</a>
        </div>
        <div class="album-button" style="padding:5px;border:black solid 1px;border-radius:8px">
            <a href="{% url 'recommender:get_album' %}">Album</a>
        </div>
        <div class="track-button" style="padding:5px;border:black solid 1px;border-radius:8px">
            <a href="{% url 'recommender:get_track' %}">Track</a>
        </div>
    </div>
    <div class="nav-right" style="padding:4px;display:flex;gap:40px;justify-content:start;">
        <div class="signin-button">
            <a href="{% url 'recommender:get_signin' %}">Sign In</a>
        </div>
        <div class="register-button">
            <a href="{% url 'recommender:get_registration' %}">Register</a>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>