{% extends 'base.html' %}
{% load static %}

{% block title %} {{album.album_name}} - {{album.album_artist}} {% endblock %}

{% block content %}

<div class="header" style="display:flex;flex-direction:row;justify-content:space-between;">
    <div class="left-header">
        <h3>{{ album.album_name }}</h3>
        <h5>{{ album.album_artist }}</h5>
    </div>
    {% if request.user.is_authenticated %}
    <div class="right-header" style="display:flex;flex-direction:row;justify-content:right;gap:15px">
        <div><a href="" class="btn btn-link-custom">
            <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;">
        </a></div>
    </div>
    {% endif %}
</div>

<hr/>

<ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
    {% for song in album.album_tracks.all%}
        {% include "recommender/songcards.html" %}
    {% endfor %}
</ol>

{% endblock %}