{% load static %}           
<li style="width:30%;">
      <div class="card">
        <div class="card-body">
          {% if album.album_name %}<h5 class="card-title">{{ album.album_name }}</h5>{% endif %}
        
        
            {% for song in album.album_tracks.all|slice:":3" %}
                <iframe src="https://open.spotify.com/embed/track/{{ song.track_id }}" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-bottom:15px;"></iframe>
            {% endfor %}

                <div style="display:flex;gap:5%;justify-content:center;">
                    <div style="margin-top:12px"><a href={% url 'recommender:view_artist' album.album_artist %} class="btn btn-outline-custom">{{album.album_artist}}</a></div>

                    <div style="margin-top:12px"><a href="{% url 'recommender:view_album' album.album_id %}" class="btn btn-custom">View Album</a></div>
                    
                    {% if request.user.is_authenticated %}
                    {% if album in dislikedAlbums %}
                        <a href="{% url 'recommender:undislike_album' user.username album.album_id %}" class="btn btn-link-custom">
                        <img src="{% static 'dislike-filled.svg' %}" alt="Un-dislike" title="Un-dislike" style="height:40px;width:40px;"></a> 
                    
                    {% else %}
                        <a href="{% url 'recommender:dislike_album' user.username album.album_id %}" class="btn btn-link-custom">
                        <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;"></a> 
                    {% endif %}
                </div> 
            {% endif %}
            </div>
      </div>
    {% comment %} </a> {% endcomment %}
  </li>