{% extends 'base.html' %}
{% load static %}

{% block title %} {{artist.artist_name}} {% endblock %}

{% block content %}

<div class="header" style="display:flex;flex-direction:row;justify-content:space-between;">
    <div class="left-header">
        <h3>{{ artist.artist_name }}</h3>
    </div>
    {% if request.user.is_authenticated %}
    <div class="right-header" style="display:flex;flex-direction:row;justify-content:right;gap:15px">
        {% if artist in dislikedArtist %}
        <a href="{% url 'recommender:undislike_artist' user.username artist.artist_id %}" class="btn btn-link-custom">
        <img src="{% static 'dislike-filled.svg' %}" alt="Un-dislike" title="Un-dislike" style="height:40px;width:40px;"></a>
        {% else %}
        <a href="{% url 'recommender:dislike_artist' user.username artist.artist_id %}" class="btn btn-link-custom">
        <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;"></a> 
        {% endif %}
    </div>
    {% endif %}
</div>

<hr/>

<ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
    {% for album in artist_albums.all%}
        {% include "recommender/albumcards.html" %}
    {% endfor %}
</ol>

{% endblock %}