{% extends 'base.html' %}
{% load static %}
{% block title %}
Artist Search
{% endblock title %}
{% block content %}

<form method='post' class="form" action="{% url 'recommender:get_artist' %}">
    {% csrf_token %}
    <br>
    <center>
        <h2>Artist Search</h2>
        <p>Artist: {{ form.artist }}</p>
        <p>From year: {{ form.from_year }}</p>
        <p>To year: {{ form.to_year }}</p>
        <button class="btn btn-lg btn-custom" type="submit">Search</button>
    </center>
</form>
<br>
<!-- -->
{% if answers %}
<ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
{% for song in answers %}
    {% include "recommender/songcards.html"%}
{% endfor %}
</ol>
{% endif %}
{% endblock content %}