{% extends 'base.html' %}
{% load static %}
{% block title %}
Artist Search
{% endblock title %}
{% block content %}
<!--
    Note the url syntax below. It specifies that the "best" url 
    from the recommender app, which is written as recommender:best
-->
<form method='post' class="form" action="{% url 'recommender:get_artist' %}">
    {% csrf_token %}
    <br>
    <center>
        <h2>Artist Search</h2>
        <!-- {{ form.as_p }} -->
        <p>Artist: {{ form.artist }}</p>
        <p>From year: {{ form.from_year }}</p>
        <p>To year: {{ form.to_year }}</p>
        <button class="btn btn-lg btn-custom" type="submit">Search</button>
    </center>
</form>
<br>
<!-- -->
{% if albums %}
<ol style="display:flex;
                     flex-direction:row;
                     flex-wrap:wrap;
                     list-style:none;
                     gap:45px">
{% for album in albums %}
<li style="width:30%;">
    <div class="card">
      <center class="card-body">


        <iframe src="https://open.spotify.com/embed/track/{{ album.track_id }}" width="300" height="380"
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        {% if request.user.is_authenticated %}
        <div style="display:flex;gap:40px;justify-content:center">
          <div class="dropdown text-center" style="margin-top:12px">
            <button class="btn btn-outline-custom dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Add to Playlist
            </button>
            <ul class="dropdown-menu dropdown-menu-center">
              {% for playlist in playlists %}
              <li><a class="btn btn-link-custom"
                  href="{% url 'recommender:playlist_append' playlist.playlist_id album.track_id %}">{{
                  playlist.playlist_name }}</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endfor %}
            </ul>
          </div>
          <a href="{% url 'recommender:dislike' user.username album.track_id%}" class="btn btn-link-custom"
            style="margin-left:25px;">
            <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;">
          </a>

          {% comment %} this is for if a song is already disliked {% endcomment %}
          {% comment %} <a href="{% url 'recommender:undislike' user.username album.track_id%}" class="btn btn-link-custom"
            style="margin-left:25px;">
            <img src="{% static 'dislike-filled.svg' %}" alt="Un-dislike" title="Un-dislike"
              style="height:40px;width:40px;">
          </a> {% endcomment %}

        </div>
        {% endif %}

      </center>
    </div>
  </li>
{% endfor %}
</ol>
{% endif %}
{% endblock content %}