{% extends 'base.html' %}
{% load static %}

{% block title %} Dislikes {% endblock %}

{% block content %}


{% if dislikes %}
<div class='nav' style="margin:5px;padding:5px;display:flex;flex-direction:column;gap:30px;justify-content:center">
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Your Disliked Songs</h5>
    <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
      {% for song in tracks%}
        {% include "recommender/songcards.html" %}
      {% endfor %}
    </ol>
  </div>
</div>

<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Your Disliked Albums</h5>
    <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
      {% for album in albums%}
        {% include "recommender/albumcards.html" %}
      {% endfor %}
    </ol>
  </div>
</div>

{% comment %} <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Popular Artists Today</h5>
    <h6 class="card-subtitle mb-3 text-muted">Today's most popular songs</h6>
    <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
      {% for artist in artists%}
        {% include "recommender/artistcards.html" %}
      {% endfor %}
    </ol>
  </div>
</div> {% endcomment %}

<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Your Disliked Playlists</h5>
      {% if dislikedPlaylists %}
       <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
        {% for playlist in dislikedPlaylists %}
          {% include "recommender/playlistcards.html" %}
        {% endfor %}
      </ol> 
      {% endif %}
    </div>
  </div>
</div>
</div>

{% endif %}

{% endblock %}