{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

<div class="card" style="width: 100%; margin-bottom: 20px">
    <div class="card-body">
      <h5 class="card-title" style="margin-bottom:20px">Edit Your Details</h5>
        <form method='post' class="form" style="margin-left:50px;margin-right:50px">

          {% csrf_token %}

          <div class="form-floating mb-3">
            {{form.first_name}}
            <label for="floatingInput">First Name</label>
          </div>

          <div class="form-floating mb-3">
            {{form.last_name}}
            <label for="floatingInput">Last Name</label>
          </div>

          <div class="form-floating mb-3">
            {{form.username}}
            <label for="floatingInput">Username</label>
          </div>

          <div class="form-floating mb-3">
            {{form.email}}
            <label for="floatingInput">Email</label>
          </div>
          
          
          <div style="text-align: right">
              <button type="submit" class="btn btn-custom">Save Changes</button>
          </div>
        </form>
    </div>
    <br>
</div>

{% endblock %}

