{% extends 'base.html' %}
{% load static %}
{% load pfp_exists %}

{% block title %}
    {% if user_name == request.user.username %}
        Your Followers
    {% else %}
        @{{ user_name }}'s Followers
    {% endif %}
{% endblock %}

{% block content %}

<div class="header" style="display:flex;flex-direction:row;justify-content:space-between;">
    <div class="left-header">
        {% if user_name == request.user.username %}
        <h3>Your Followers</h3>
        {% else %}
        <h3>@{{ user_name }}'s Followers</h3>
        {% endif %}
    </div>
</div>

<hr/>

        <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
            {% for friend in followers %}
            <div class="card" style="width: 30%; margin-bottom: 20px">
                <div class="row">
                <center>    
                    <img src="{% get_static_prefix %}{{ friend.username|pfp_exists }}.jpg" class="rounded-circle card-img-top" border="1px" style="object-fit: cover; height: 250px; width: 250px; margin-top: 25px">
                </center>
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">{{ friend.first_name }} {{ friend.last_name }}</h5>
                  <h6 class="card-subtitle" style="margin-bottom: 20px">@{{ friend }}</h6>
                  <a href={% url 'recommender:get_profile' friend %} class="btn btn-outline-custom">View Profile</a>
                </div>
                </div>
            </div>
            {% endfor %}
        </ol>


{% endblock %}