{% extends 'base.html' %}
{% load static %}
{% block title %}SoundLogic{% endblock %}
{% block content %}
<div class='nav' style="margin:5px;padding:5px;display:flex;flex-direction:column;gap:30px;justify-content:center">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Unpopular Songs</h5>
      <h6 class="card-subtitle mb-3 text-muted">Top 3 most disliked songs</h6>
      <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
        {% for song in dislikedSongs%}
          {% include "recommender/songcards.html" %}
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Unpopular Albums</h5>
      <h6 class="card-subtitle mb-3 text-muted">Top 3 most disliked albums</h6>
      <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
        {% for album in dislikedAlbums%}
          {% include "recommender/albumcards.html" %}
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Unpopular Playlists</h5>
      <h6 class="card-subtitle mb-3 text-muted">Top 3 most disliked playlists</h6>
        {% if dislikedPlaylists %}
         <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
          {% for playlist in dislikedPlaylists %}
            {% include "recommender/playlistcards.html" %}
          {% endfor %}
        </ol> 
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}