{% extends 'base.html' %}
{% load static %}
{% load pfp_exists %}

{% block title %} Your Profile {% endblock %}

{% block content %}

<div class="modal" tabindex="-1" role="dialog" id="editprofile">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="card-title">Your Profile</h6>
          <button type="button" class="close btn btn-outline-custom" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
          <div class="form-group">
            <h3 class ="card-title">First Name:</h3>
            <div class="card-text">{{user.first_name}}</div>
            <br>
          </div>

          <div class="form-group">
            <h3 class ="card-title">Last Name:</h3>
            <div class="card-text">{{user.last_name}}</div>
            <br>
          </div>

            <div class="form-group">
              <h3 class="card-title">Username:</h3>
              <div class="card-text">{{user.username}}</div>
              <br>
            </div>

            <div class="form-group">
              <h3 class ="card-title">Email:</h3>
              <div class="card-text">{{user.email}}</div>
              <br>
            </div>


              <div class="modal-footer">
                <a href="{% url 'recommender:change_password' %}" class="btn btn-outline-custom">Change Password</a>
                <a href="{% url 'recommender:edit_bio' %}" class="btn btn-outline-custom">Edit Bio</a>
                <a href="{% url 'recommender:update_settings' %}" class="btn btn-custom" style="margin-left:15px">Edit Information</a>
              </div>

          

        </div>
      </div>
    </div>
  </div>


<div class="card" style="width: 100%; margin-bottom: 20px">  
  <div class="card-body">
    <div style="display:flex;gap:20px;justify-content:left">
    <div class="dropdown">
      <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{% get_static_prefix %}{{ user.username|pfp_exists }}.jpg" class="rounded-circle card-img-top" border="1px" class="rounded-circle" border="1px" style="width: 80px; height: 80px; object-fit: cover">
    </button>
      <ul class="dropdown-menu" style="text-align:center">
        <li>
          <form action="{% url 'recommender:update_profile_picture' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <center style="display:flex;flex-direction:row;justify-content:center;padding:10px">
                <input type="file" name="profile_picture" id="profile_picture" style="margin-top: 5px">
                <input type="submit" value="Upload" class="btn btn-custom">
            </center>
          </form>
        </li>
      </ul>
    </div>
    <div style="display:flex;flex-direction:column;justify-content:center">
      <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
      <h6 class="card-text">@{{user.username}}</h6>
      <h6 class="card-text">{{user.email}}</h6>
    </div>
  </div>
  {% if bio %}
    <div class="card-text text-muted" style="margin:15px">{{bio}}</div>
  {% endif %}
  
  
      <div style="display:flex;gap:25px;justify-content:center;margin-top:25px">
        <a href="{% url "recommender:get_dislikes" %}" class="btn btn-outline-custom">My Dislikes</a>
        <a href="{% url "recommender:get_friends" request.user.username %}" class="btn btn-outline-custom" style="margin-left: 15px">My Friends</a>
        <a href="{% url "recommender:get_user_playlists" request.user.username %}" class="btn btn-outline-custom" style="margin-left: 15px">My Playlists</a>
        <a class="btn btn-outline-custom" data-toggle="modal" style="margin-left: 10px" data-target="#editprofile">My Information</a>
      </div>
  </div>
</div>

{% if playlists %}
<div class="card" style="width: 100%; margin-bottom: 20px">
  <div class="card-body">
      <h5 class="card-title">{{profile_user}}Your Playlists</h5>
        <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
            {% for playlist in playlists %}
              {% include "recommender/playlistcards.html" %}
            {% endfor %}
        </ol>
  </div>
</div>
{% endif %}

{% endblock %}