{% extends 'base.html' %}

{% block title %} Playlist {% endblock %}

{% block content %}

<h3>{{ playlist.playlist_name }}</h3>
<h5>{{ playlist.creator }}</h5>
{% for song in playlist.playlist_songs.all %}
    <br>
    <div class="card">    
        <div class="card-body">
            {% if song.track_name %}    
            <h5 class="card-title">{{ song.track_name }}</h5>
            {% endif %}
            {% if song.track_artist %} 
            <p>{{ song.track_artist }}</p>        
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}