{% load static %}           
<li style="width:30%;">
    {% comment %} <a href="{% url "recommender:playlist_view" playlist.playlist_id %}" style="text-decoration:none"> {% endcomment %}
      <div class="card">
        <div class="card-body">
          {% if playlist.playlist_name %}<h5 class="card-title">{{ playlist.playlist_name }}</h5>{% endif %}
          {% comment %} {% if playlist.creator %} <p class="text-muted"> Owner: {{ playlist.creator }} </p> {% endif %} {% endcomment %}
        
        
            {% for song in playlist.playlist_songs.all|slice:":3" %}
                <iframe src="https://open.spotify.com/embed/track/{{ song.track_id }}" width="330" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin-bottom:15px;"></iframe>
            {% endfor %}

            
                <div style="display:flex;gap:10px;justify-content:center;margin-bottom:5px;">
                    <div style="margin-top:12px"><a href={% url 'recommender:get_profile' playlist.creator %} class="btn btn-outline-custom"><img src="{% static 'pfp.jpg' %}" style="height:22px;width:22px;margin-right:5px;margin-bottom:3px;">{{playlist.creator}}</a></div>

                    <div style="margin-top:12px"><a href="{% url 'recommender:playlist_view' playlist.playlist_id %}" class="btn btn-custom">View Playlist</a></div>
                    
                    {% if request.user.is_authenticated %}
                    <div><a href="" class="btn btn-link-custom">
                        <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;">
                    </a></div>
                    {% comment %} this doesnt really work rn {% endcomment %}
                    {% if song in dislikedlist %}
                        {% comment %} <a href="{% url 'recommender:undislike' user.username song.track_id %}" class="btn btn-link-custom" style="margin-left:25px;">
                        <img src="{% static 'dislike-filled.svg' %}" alt="Un-dislike" title="Un-dislike" style="height:40px;width:40px;"></a> {% endcomment %}
                    
                    {% else %}
                        {% comment %} <a href="{% url 'recommender:dislike' user.username song.track_id%}" class="btn btn-link-custom" style="margin-left:25px;">
                        <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;"></a>  {% endcomment %}
                    {% endif %}
                </div> 
            {% endif %}
            </div>
      </div>
    {% comment %} </a> {% endcomment %}
  </li>