{% extends 'base.html' %}

{% block title %} {{playlist.playlist_name}} - @{{playlist.creator}} {% endblock %}

{% block content %}

<div class="header" style="display:flex;flex-direction:row;justify-content:space-between;">
    <div class="left-header">
        <h3>{{ playlist.playlist_name }}</h3>
        <h5>{{ playlist.creator }}</h5>
    </div>
    {% if playlist.creator == request.user.username %}
    <div class="right-header">
        <a  class="btn btn-custom" href="{% url 'recommender:add_song_update' playlist.playlist_id %}" style="margin-left: 15px">Add Songs</a> 
    </div>
    {% endif %}
</div>
<table>
    <tr>
{% for song in playlist.playlist_songs.all %}
<br>
<td>
    <div class="card">    
        <div class="card-body">
            
    
        <iframe src="https://open.spotify.com/embed/track/{{ song.track_id }}" width="300" height="380" 
        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        
        <div class = "text-center">
            {% if request.user.is_authenticated %}
            <a href="{% url 'recommender:dislike' user.username song.track_id%}" class="btn btn-custom">☆</a>
            {% endif %}
        </div>    

        </div>
    </div>
</td>
{% endfor %}
</tr>
</table>

{% endblock %}