{% extends 'base.html' %}
{% load static %}

{% block title %} {{profile_user}}'s Profile {% endblock %}

{% block content %}


          
<div class="card" style="width: 100%; margin-bottom: 20px">  
  <div class="card-body">
      <img src="{% static 'pfp.jpg' %}" class="card-img-top" alt="..." style ="height: 80px; width: 80px">
      <h5 class="card-title">@{{profile_user}}</h5>
      <div class="card-subtitle mb-2 text-muted">(Bio goes here)</div>
      <div class="card-body" style="text-align: right;">
        {% comment %} <a class="btn btn-outline-custom" style="margin-right: 10px">Button</a>  {% endcomment %}
        <a class="btn btn-custom">Add Friend</a>
      </div>
  </div>
</div>


<div class="card" style="width: 100%; margin-bottom: 20px">
  <div class="card-body">
      <h5 class="card-title">@{{profile_user}}'s Playlists</h5>
        {% if playlists %}
        <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
            {% for playlist in playlists %}
              {% include "recommender/playlistcards.html" %}
            {% endfor %}
        </ol>
    {% endif %}
  </div>
</div>




<div class="card" style="width: 100%; margin-bottom: 20px">
  <div class="card-body">
      <h5 class="card-title">Recommended Songs</h5>
      <div class="row row-cols-1 row-cols-md-3 g-3">
          {% if albums %}
          {% for album in albums %}
          <td>
          <iframe src="https://open.spotify.com/embed/track/{{ album.track_id }}" width="300" height="380" 
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
          {% endfor %}
          {% endif %}

      </div>
  </div>

</div>
{% endblock %}

