{% extends 'base.html' %}
{% load static %}
{% load pfp_exists %}

{% block title %} {{profile_user.username}}'s Profile {% endblock %}

{% block content %}


          
<div class="card" style="width: 100%; margin-bottom: 20px">  
  <div class="card-body">
    <div style="display:flex;gap:20px;justify-content:left">
        <img src="{% get_static_prefix %}{{ profile_user.username|pfp_exists }}.jpg" class="rounded-circle card-img-top" border="1px" class="rounded-circle" border="1px" style="width: 80px; height: 80px; object-fit: cover">
    <div style="display:flex;flex-direction:column;justify-content:center">
      <h5 class="card-title">{{profile_user.first_name}} {{profile_user.last_name}}</h5>
      <h6 class="card-text">@{{profile_user}}</h6>
    </div>
  </div>
  {% if bio %}
    <div class="card-text text-muted" style="margin:15px">{{bio}}</div>
  {% endif %}
</div>
</div>

<div class="card" style="width: 100%; margin-bottom: 20px">
  <div class="card-body">
      <h5 class="card-title">@{{profile_user}}'s Playlists</h5>
        {% if playlists %}
        <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:45px">
            {% for playlist in playlists %}
              {% include "recommender/playlistcards.html" %}
            {% endfor %}
        </ol>
    {% endif %}
  </div>
</div>




<div class="card" style="width: 100%; margin-bottom: 20px">
  <div class="card-body">
      <h5 class="card-title">Recommended Songs</h5>
      <div class="row row-cols-1 row-cols-md-3 g-3">
          {% if albums %}
          {% for album in albums %}
          <td>
          <iframe src="https://open.spotify.com/embed/track/{{ album.track_id }}" width="300" height="380" 
          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
          {% endfor %}
          {% endif %}

      </div>
  </div>

</div>
{% endblock %}

