{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}

{% if err %}
    <p>{{ err }}</p>
{% endif %}

<center>
    <h2 class="fw-bold">Ready to Listen?</h2>
    <div class="card" style="width: 50%; min-width: 650px">
        <form method='post' class="form" action="{% url 'recommender:get_registration' %}">
        {% csrf_token %}
        <p class="fw-bold" style="margin-top: 25px">Sign up for a free account</p>
        <p>Username: {{ form.username }}</p>
        <p>First Name: {{ form.user_fname }}</p>
        <p>Last Name: {{ form.user_lname }}</p>
        <p>Email: {{ form.user_email }}</p>
        <p>Password: {{ form.user_password }}</p>           

        <div class="d-grid" style="width: 50%">
            <button class="btn btn-custom"  type="submit">Register</button></br>
            <button class="btn btn-custom" type="submit" style="background:#1DB954">Sign in with Spotify</button></br>
            <button class="btn btn-custom" type="submit" style="background:#C5C5C5">Sign in with Google</button></br>
            <button class="btn btn-custom" type="submit" style="background:#000000">Sign in with Apple</button></br>
            {% comment %} <button class="btn btn-outline-custom" type="submit">Contact us</button></br> {% endcomment %}
        </div>
        </form>
    </div>
</center>


{% endblock %}