{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}



<center>
    <h2 class="fw-bold">Ready to Listen?</h2>
    <div class="card" style="width: 50%; min-width: 650px">
        <div class="card-body text-muted">
            {% if err %}
            <p class="text-danger">{{ err }}</p>
            {% endif %}
            <form method='post' class="form" style="margin-left:50px;margin-right:50px">
                {% csrf_token %}

                <div class="form-floating mb-3">
                    {{form.first_name}}
                    <label for="floatingInput">First Name</label>
                </div>

                <div class="form-floating mb-3">
                    {{form.last_name}}
                    <label for="floatingInput">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                    {{form.username}}
                    <label for="floatingInput">Username</label>
                </div>

                <div class="form-floating mb-3">
                    {{form.email}}
                    <label for="floatingInput">Email</label>
                </div>

                <div class="form-floating mb-3">
                    {{form.password1}}
                    <label for="floatingInput">Password</label>
                </div>

                <div class="form-floating mb-3">
                    {{form.password2}}
                    <label for="floatingInput">Confirm Password</label>
                </div>



                <div class="d-grid" style="width:65%">
                    <button class="btn btn-custom" type="submit">Register</button></br>
                </div>
            </form>
        </div>
    </div>
</center>

{% endblock %}