{% load static %}
{% if tracks %}
    
    {% for track in tracks %}
    <ol style="display:flex;flex-direction:row;flex-wrap:wrap;list-style:none;gap:50px 30px;">
        <div class="card">
            <div class="card-body"> 
                <td>
                    <iframe src="https://open.spotify.com/embed/track/{{ track }}" width="300" height="380" 
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
                {% if request.user.is_authenticated %}
                <div style="display:flex;gap:40px;justify-content:center">
                     <div class="dropdown text-center" style="margin-top:12px">
                        <button class="btn btn-outline-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Add to Playlist
                        </button>
                        <ul class="dropdown-menu dropdown-menu-center">
                            {% for playlist in playlists %}
                                <li><a class="btn btn-link-custom" href="{% url 'recommender:playlist_append' playlist.playlist_id track %}">{{ playlist.playlist_name }}</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="{% url 'recommender:dislike' user.username track%}" class="btn btn-link-custom" style="margin-left:25px;">
                        <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;">
                    </a>

                    {% comment %} this is for if a song is already disliked  {% endcomment %}
                    {% comment %} <a href="{% url 'recommender:undislike' user.username track%}" class="btn btn-link-custom" style="margin-left:25px;">
                        <img src="{% static 'dislike-filled.svg' %}" alt="Un-dislike" title="Un-dislike" style="height:40px;width:40px;">
                    </a> {% endcomment %}
                    
                </div>
                {% endif %}
            </div>
        </div>
    <ol>
    {% endfor %}

{% endif %}