{% load static %}           
<li style="width:31%;">
    <div class="card">
        <center class="card-body">
            <iframe src="https://open.spotify.com/embed/track/{{ song.track_id }}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% if request.user.is_authenticated %}
                <div style="display:flex;gap:5%;justify-content:center;">
                    <div style="margin-top:12px"><a href={% url 'recommender:view_artist' song.track_artist %} class="btn btn-outline-custom">{{song.track_artist}}</a></div>
                    
                    <div class="dropdown text-center">
                        <div style="margin-top:12px"><a class="btn btn-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Add to Playlist
                        </a></div>
                        <ul class="dropdown-menu dropdown-menu-center" style="position:relative">
                            <p>Playlists</p>
                        {% for playlist in playlists %}
                        <li><hr class="dropdown-divider"></li>
                            <li><a class="btn btn-link-custom" href="{% url 'recommender:playlist_append' playlist.playlist_id song.track_id %}">{{playlist.playlist_name }}</a></li>
                            
                            
                        {% endfor %}
                        </ul>
                    </div>

                    {% if song in dislikedSongs %}
                        <a href="{% url 'recommender:undislike_song' user.username song.track_id %}" class="btn btn-link-custom">
                        <img src="{% static 'dislike-filled.svg' %}" alt="Un-dislike" title="Un-dislike" style="height:40px;width:40px;"></a>
                    {% else %}
                        <a href="{% url 'recommender:dislike_song' user.username song.track_id%}" class="btn btn-link-custom">
                        <img src="{% static 'dislike.svg' %}" alt="Dislike" title="Dislike" style="height:40px;width:40px;"></a> 
                    {% endif %}
                </div> 
            {% endif %}
        </center>
    </div>
</li>